@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* resetStyles */
*{
    margin: 0;
    padding: 0;
}

/* header */
#header{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(182,188,200,.35);
    margin: auto;
}

.divLeft{
    display: flex;
    align-self: center;
}

.logo {
    width: 140px;
    cursor:pointer;
}

.listUl{
    display: flex;
    list-style: none;
    margin-left: 40px;
}

.listUl li{
    cursor:pointer;
    margin-left: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.listUl li:hover{
    border-bottom:1px solid hsl(26, 100%, 55%);
}

.divCart{
    cursor: pointer;
}

.menuRight{
    display: flex;
    align-items: center;
}

.imageProfile{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    cursor:pointer;
}

/* main */
.content{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: auto;
}

.flexProducts{
    display: flex;
    margin: 3rem 0;
}

.imageResult img{
    width: 25vw;
    height: 55vh;
    background-size: cover;
    background-position: 100%;
}

.flexProducts img{
    width: 7vw;
    height: 13vh;   
    background-size: cover;
    background-position: 50%;
    margin:0 0.4rem;
    cursor: pointer;
}

.attribution{
    margin: 10rem auto;
}